@charset "UTF-8";
h2 {
  color: black; }

/* Botón wapp colores */
.btn-wsp {
  background: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3); }

.btn-wsp:hover {
  color: black;
  background-color: white; }

/* Scroll bar */
body::-webkit-scrollbar-thumb {
  background-color: black; }

/* Colores footer */
.bgIndexFooter {
  background-color: #f6f6f1; }

/* Colores íconos redes */
.redes i {
  color: black; }

.redes i:hover {
  color: rgba(201, 201, 201, 0.3); }

.copyrightFlex {
  color: black; }

@font-face {
  font-family: HalfbreD;
  src: url("../assets/font/HalfbreD.ttf") format("truetype"); }

@font-face {
  font-family: SourceSansProRegular;
  src: url("../assets/font/SourceSansProRegular.ttf") format("truetype");
  font-style: regular; }

@font-face {
  font-family: SourceSansProLight;
  src: url("../assets/font/SourceSansProLight.ttf") format("truetype");
  font-style: light; }

@font-face {
  font-family: FashionFetishRegular;
  src: url("../assets/font/FashionFetishRegular.ttf") format("truetype"); }

/* Fuentes descargadas */
.fontHalfbred {
  font-family: HalfbreD; }

.fontSourceSansProRegular {
  font-family: SourceSansProRegular; }

.fontSourceSansProLight {
  font-family: SourceSansProLight;
  font-style: light; }

.fashionFetishRegular {
  font-family: FashionFetishRegular; }

/* Configuración general */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

/* Quitar subrayado a links */
a {
  text-decoration: none;
  list-style: none; }

html {
  scroll-behavior: smooth; }

/* Quitar deco a listas */
li {
  padding: 15px;
  list-style: none; }

ul li {
  display: inline;
  justify-content: right; }

#irArriba {
  display: flex;
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 70px;
  right: 20px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  z-index: 100;
  display: none; }

/* Variables tamanios */
/* Tamanios Generales */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

/* Tamanios Encabezados h1 secciones */
.titulosH1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  letter-spacing: 4px; }

/* Tamanio Título Secundario */
h2 {
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-top: 50px; }

/* Tamanio Subtítulos */
h3 {
  font-size: 13px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 20px; }

/* Tamanio Img Index */
.imgIndex {
  background: url("../assets/img/logo2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh; }

/* Botón Wapp */
.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 25px;
  right: 20px;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }

.btn-wsp:hover {
  text-decoration: none; }

/* Scroll Bar */
body::-webkit-scrollbar {
  width: 15px; }

/* Tamanio Íconos Redes */
.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; }

video {
  width: 100vw;
  overflow-x: hidden; }

/* Tamaño Copyright */
.copyrightFlex {
  margin-top: 30px;
  margin-bottom: 15px; }

/* --------------------------------------- REESPONSIVE TABLET ------------------------------------*/
/* Tamanio H1 */
@media only screen and (max-width: 1023px) {
  h2 {
    font-size: 18px; } }

/* --------------------------------------- REESPONSIVE MOBILE ------------------------------------*/
/* Tamanio H1 */
@media only screen and (max-width: 812px) {
  h2 {
    font-size: 12px; }
  video {
    width: 100%;
    display: flex;
    text-align: center; }
  .bgIndexFooter {
    overflow-x: hidden;
    text-align: center; }
  /* Tamaño Copyright */
  .copyrightFlex {
    font-size: 12px;
    margin-top: 70px;
    margin-bottom: 15px; } }
