h2{
	color: black;
}

/* Botón wapp colores */

.btn-wsp {
	background: black;
	color: white;	
	box-shadow: rgba(0,0,0,0.3);
}

.btn-wsp:hover {
	color: black;
	background-color: white;
}

/* Scroll bar */

body::-webkit-scrollbar-thumb {
	background-color: black;
}

/* Colores footer */
.bgIndexFooter{
	background-color: rgb(246, 246,241);
}

/* Colores íconos redes */
.redes i {
	color: black;
}

.redes i:hover {
	color: rgba(201, 201, 201, 0.3);
}

.copyrightFlex {
	color: black;
}