/* Variables tamanios */

$font-h1Dsk: 40px;
$font-h2Dsk: 16px;
$font-h3Dsk: 65px;
$font-h4Dsk: 13px;

/* Tamanios Generales */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* Tamanios Encabezados h1 secciones */
.titulosH1 {
	font-size:$font-h1Dsk;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
	letter-spacing: 4px;
}

/* Tamanio Título Secundario */
h2 {
	font-size:$font-h2Dsk;
	text-align: center;
	display: flex;
	justify-content: center;
	letter-spacing: 2px;	
	margin-bottom: 20px;
	margin-top: 50px;	
}

/* Tamanio Subtítulos */
h3 {
	font-size:$font-h4Dsk;
	text-align: center;
	font-weight: 300;
	margin-bottom: 10px;
	margin-top: 20px;	
}

/* Tamanio Img Index */
.imgIndex {
	background: url("../assets/img/logo2.jpg"); 
	background-repeat: no-repeat;
	background-position: center center;	
	background-size: cover;
	height: 100vh;
}

/* Botón Wapp */
.btn-wsp {
	position: fixed;
	width: 55px;
	height: 55px;
	line-height: 55px;
	bottom: 25px;
	right: 20px;	
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	z-index: 100;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}

.btn-wsp:hover {
	text-decoration: none;
}

/* Scroll Bar */
body::-webkit-scrollbar {
	width: 15px;
}

/* Tamanio Íconos Redes */
.redes {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

video {
	width: 100vw;
	overflow-x: hidden;
}

/* Tamaño Copyright */
.copyrightFlex {
	margin-top: 30px;
	margin-bottom: 15px;
}	

/* --------------------------------------- REESPONSIVE TABLET ------------------------------------*/
/* Tamanio H1 */
@media only screen and (max-width: 1023px) {	
	h2{
		font-size: 18px;
	}
}	

/* --------------------------------------- REESPONSIVE MOBILE ------------------------------------*/
/* Tamanio H1 */
@media only screen and (max-width: 812px) {
	h2{
		font-size: 12px;
	}

	video{
		width: 100%;
		display: flex;
		text-align: center;
	}

	.bgIndexFooter{	
		overflow-x: hidden;
		text-align: center;
	}

/* Tamaño Copyright */
	.copyrightFlex {		
		font-size: 12px;
		margin-top: 70px;	
		margin-bottom: 15px;
	}
}